body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 0;
  background-color: #8F8D7A;
  display: flex;
  flex-direction: column;
}
#logo-text{
  font-size: 3em;
  color: #333;
  text-transform: uppercase;
}
#container {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px;
  margin: 25px auto;
  width: 90%;
}
.box {
  border: 1px solid #727272;
  width: 250px;
  display: block;
  color: #111;
  background: #EEEBE6;
  box-shadow: 1px 1px 5px #777;
  padding: 20px;
  margin: 20px;
}
.box p{
  line-height: 0.6;
  font-size: 10px;
}
.box video{
  max-width: 100%;
}
.source-site{
  font-size: 10px;
  margin: 30px 0 10px 0;
  font-weight: bold;
}
.source-site-link:hover,.source-site-link:link,.source-site-link:visited,.source-site-link:active {
  color: #111;
  font-weight: 500;
  text-decoration: none;
}
.box2{
  border: 1px solid #727272;
  width: 75%;
  display: block;
  color: #111;
  background: #EEEBE6;
  box-shadow: 1px 1px 5px #777;
  padding: 20px;
  margin: 20px;
}
@media (max-width: 480px) {
}