#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 50px;

}
#container {
  border: 1px solid #CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding: 25px;
  margin: 25px;
}
.box{
  border: 1px solid #111;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  display: block;
  color: #111;background: #ffffff;
background: linear-gradient(161deg, rgba(255, 255, 255, 1) 0%, rgba(38, 38, 38, 1) 100%);
box-shadow: 1px 1px 5px #777;
}